.d3-widget-multiselect{
    font-family: sans-serif;
    font-size: 100%;
}

.d3-widget-multiselect span, .d3-widget-iconselect-preview
{
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #000;
    background-color: #EEE;
}

.d3-widget-multiselect span:after
{
    content: "\25BC";
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    top: 0;
    right: 0;
    height: 100%;
    width: 2em;
    padding-top: 0.4em;
    text-align: center;
    font-size: 80%;
}

.d3-widget-multiselect ul, .d3-widget-searchbar ul, .d3-widget-iconarea
{
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #000;
    background-color: #EEE;
}

.d3-widget-entry-selected
{
    color: #FFF;
    background-color: #66F;
}

.d3-widget-multiselect-all-shortcut
{
    border-bottom: 1px solid #AAA;
    margin-bottom: 0.4em;
    font-weight: bold;
}

.d3-widget-searchbar-frozen-value
{
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    background-color: #BBB;
    font-family: sans-serif;
    font-size: 80%;
}

.d3-widget-close-button
{
    font-weight: bold;
    color: #000;
}

.d3-widget-close-button:hover
{
    color: #EEE;
}

.d3-widget-close-button:active
{
    color: #888;
}

.d3-widget-iconselect-preview
{
    padding: 0.2em;
}

.d3-widget-iconselect-preview > span
{
    margin: 0.3em;
}

.d3-widget-iconarea button
{
    margin: 0.3em;
    padding: 0.5em;
    border: 1px solid #CCC;
    border-radius: 5px;
    color: #000;
    background-color: #EEE;
}

.d3-widget-iconarea button:hover
{
    background-color: #F8F8F8;
}

.d3-widget-iconarea .d3-widget-button-selected
{
    background-color: #CCC;
}

.d3-widget-iconarea .d3-widget-button-selected:hover
{
    background-color: #D8D8D8;
}
